* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  background-color: #124;
  padding: 35px;
}

nav a {
  border: solid 1px grey;
  border-radius: 15px;
  padding: 10px 35px;
  color: white;
}

article {
  background-color: #134;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

article div {
  border: solid 1px white;
  border-radius: 10px;
  background-color: gray;
  height: 200px;
  text-align: center;
  padding: 10px;
  color: white;
}

article div img {
  width: 35px;
}

footer {
  background-color: #154;
}

footer p {
  color: aquamarine;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 25px;
}

footer small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
  padding: 20px;
}
